<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{ site.title|default:'我的博客' }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archive.html">归档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tags/">标签</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/moments.html">说说</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/friends.html">友链</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">关于</a>
                </li>
            </ul>
        </div>
    </div>
</nav>