{% extends 'base.html' %}

{% block title %}友链 - {{ site.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ static_prefix }}/css/main.css">
{% endblock %}

{% block content %}
<div class="friends-page">
    <h1 class="page-title">友情链接</h1>
    
    <div class="friends-grid">
        {% for link in links %}
        {% include 'components/friend_link.html' %}
        {% empty %}
        <div class="empty-state">
            <p>暂无友链</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="friend-exchange">
        <h3>交换友链</h3>
        <p>欢迎交换友链！请通过 About 页面的联系方式与我联系。</p>
    </div>
</div>
{% endblock %}
